/data/dbconfig.php
/docu/db-sys-bak/
/docu/db-sys-bak/bee_db_backup.sql
/docu/db-unit-bak/
/docu/db-unit-bak/allLocationWeather.sql
/docu/db-unit-bak/bee_board_info.sql
/docu/db-unit-bak/bee_location_info.sql
/docu/db-unit-bak/bee_location_info_20160924.sql
/docu/db-unit-bak/bee_midterm_weather.sql
/docu/db-unit-bak/bee_midterm_weather_20160412.sql
/docu/db-unit-bak/bee_plant_info.sql
/docu/db-unit-bak/bee_plant_info2.sql
/docu/db-unit-bak/bee_post_info.sql
/docu/db-unit-bak/bee_regression_info.sql
/docu/db-unit-bak/bee_timeseries_weather.sql
/docu/db-unit-bak/bee_timeseries_weather_20160412.sql
/docu/db-unit-bak/LOCATION_INFO.sql
/docu/db-unit-bak/test.sql
/docu/db-unit-bak/test2.sql
